body {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #2e2c2c;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;
    margin-bottom: 30px;
}

#titulo {
    display: flex;
    flex-direction: column;

    text-transform: uppercase;

    font-size: 33px;
}

#titulo h1 {
    color: red;
}

nav ul  {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

nav ul a {
    text-transform: uppercase;
    text-decoration: none;
    color: aliceblue;
}

